{{template "partials/header" .}}

<main id="app" class="px-3">
    <div class="filters">
        <div id="getDogs"><h4>Cобаки</h4></div>
        <div id="getCats"><h4>Кошки</h4></div>
        <div id="getBirds"><h4>Птицы</h4></div>
    </div>
    <div class="animals">
        {{range .}}
            <div data-kind="{{.Kind}}" class="alert alert-danger">
                <div>
                <img src="/photos/{{.Img}}" alt="abasfs" height="200px" width="200px">
                </div>
                <h2>{{.Name}}</h2>
                <a href="/animal/{{.Id}}" class="btn btn-danger">Узнать больше</a>
            </div>
        {{end}}
    </div>
</main>
<script src="/js/main.js"></script>

{{template "partials/footer" .}}